

body {
  font-family: 'Open Sans', sans-serif;
  color: #061c23;
  margin: 0;
}


/*===========================  HEADER  =============================*/
header {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 50px 0;
  text-align: center;
  z-index: 3;
  border-bottom: 2px solid #eaeaea;
}

header img {
  width: 250px;
}

.home {
  position: fixed;
  z-index: 6;
  opacity: .3;
  width: 60px;
  right: 50px;
  top: 61px;
}

.back {
  position: fixed;
  display: inline-block;
  font-size: 38px;
  color: #bcc3c5;
  z-index: 6;
  font-weight: bold;
  left: 50px;
  top: 23px;
}

/*===========================  HOMEPAGE  =============================*/
.cover {
  position: fixed;
  height: 100%;
  width: 0;
  z-index: 10;
  transition: width 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

.cover img {
  display: none;
}

.cover.open img {
  display: block;
}

.cover.open img.loader {
  margin-top: 100px;
  height: 200px;
  /*-webkit-animation: load 1s linear infinite;*/
}

@-webkit-keyframes load {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg);  }
}

.cover.open {
  width: 100%;
}

.main {
  background-color: white;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  padding-bottom: 0;
  padding-top: 187px;
}

.home_page.main, .home_wheel .main {
  height: 1732px;
  min-height: auto;
  overflow: hidden;
}

.page_title {
  width: 100%;
  text-align: center;
  padding: 80px;
}

.page_title .lrg {
  color: #8f7420;
  font-weight: bold;
  font-size: 55px;
  margin: 0;
  line-height: 1.4;
}

.page_title .lrg span {
  display: block;
  letter-spacing: 9px;
  font-weight: 300;
  font-size: 55px;
}

.page_title .sml {
  opacity: .4;
  font-size: 33px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 11px;
}

.home_page .page_title .sml {
  margin-bottom: 11px;
  color: #34bcd6;
}

.card {
  width: 100%;
  min-height: 230px;
  background-color: white;
  margin-bottom: 27px;
  border: 2px solid #eaeaea;
  position: relative;
  transition: transform .2s;
}

.photocard {
  background-size: 120%;
  -webkit-animation: confetti 20s infinite;
}

/*@-webkit-keyframes confetti {
  0%, 100% {  background-position: 0; background-size: 120%; }
  50% { background-position: 0 200px; background-size: 100%; }
}*/

.projs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.projs .card {
  width: 48.5%;
  min-height: 350px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  overflow: hidden;
}

.home_page .card {
  margin-bottom: 35px;
}

.super .color_slide, .project_card .color_slide {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: #ffc722;
}

.project_card .color_slide {
  background-color: #2eb4d1;
}

.home_page .super p {
  color: white ;
  position: relative;
  z-index: 2;
}

.home_page .project_card p {
  color: white;
  position: relative;
  z-index: 2;
}

.home_page .projs .card {
  height: 450px;
  flex-direction: column;
}

.card.wof {
  width: 100%;
  -webkit-animation: enlarge_one infinite 7s
}

@-webkit-keyframes enlarge_one{
  0%, 45% { transform: scale(1); background-color: white; }
  10%, 35% { transform: scale(1.05); background-color: #8f731f;}
}
/*
.card.selfie {
    -webkit-animation: enlarge_two infinite 10s
}

@-webkit-keyframes enlarge_two{
  30%, 60% { transform: scale(1); background-color: white;}
  40%, 50% { transform: scale(1.05); background-color: #8f731f;}
}*/

.card.wof p {
    -webkit-animation: change_one infinite 7s
}

@-webkit-keyframes change_one {
  0%, 45% { color: black; }
  10%, 35% { color: white;}
}

.card.selfie p {
    -webkit-animation: change_two infinite 10s
}

@-webkit-keyframes change_two {
  30%, 60% { color: black;}
  40%, 50% { color: white;}
}

.card.wof img {
    -webkit-animation: img_one infinite 7s;
}

@-webkit-keyframes img_one {
  0%, 45% { filter: brightness(1) invert(0); transform: rotate(0deg);}
  10%, 35% { filter: brightness(0) invert(1); transform: rotate(360deg);}
}

.card.selfie img {
    -webkit-animation: img_two infinite 10s
}

@-webkit-keyframes img_two {
  30%, 60% { filter: brightness(1) invert(0);}
  40%, 50% { filter: brightness(0) invert(1);}
}

/*.card.projects {
    -webkit-animation: enlarge_three infinite 10s
}

@-webkit-keyframes enlarge_three{
  60%, 90% { transform: scale(1);}
  70%, 80% { transform: scale(1.05);}
}*/

/*.card.projects .lrg {
    -webkit-animation: red infinite 10s;
}

@-webkit-keyframes red{
  60%, 90% { background-color: white; color: black;}
  70%, 80% { background-color: #8f731f; color: white;}
}*/

/*.home_page .projs .projects .lrg {
    -webkit-animation: change_three infinite 10s;
}

@-webkit-keyframes change_three {
  60%, 90% { color: black;}
  70%, 80% { color: white;}
}*/

.home_page .projs .card .lrg, .card .lrg {
  color: black;
  font-weight: 600;
  font-size: 46px;
  position: absolute;
  margin: 0;
  left: 75px;
  top: 75px;
  /*max-width: 300px;*/
  letter-spacing: 5px;
}

.card .lrg {
  position: relative;
  top: 0;
}

.card.icon img {
  opacity: .25;
  position: absolute;
  right: -100px;
  bottom: -450px;
  margin: 0;
}

.home_page .projs .card.icon.wof img {
  width: 80%;
}

.home_page .projs .card.icon.selfie img {
  width: 85%;
  bottom: -50px;
}

.home_page .projs .projects {
  width: 100%;
  height: 885px;
}

.home_page .projs .projects .lrg {
  bottom: 0;
  top: auto;
  left: auto;
  background-color: #8f7420 !important;
  color: white !important;
  display: block;
  text-align: left;
  left: 0;
  width: 100%;
  padding: 50px;
  max-width: 100%;
  box-sizing: border-box;
}

.home_page .projs .projects .lrg p{
  color: black;
}

.home_page .projs .projects .slider {
  opacity: 1;
}

.lrg .arr {
  font-size: 55px;
  position: absolute;
  margin-left: 30px;
  font-weight: normal;
  margin-top: -11px;
  opacity: .5;
}

.home_page .projs .projects .slider div{
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  display: none;
}

.home_page .projs .projects .slider div:first-child{
  display: block;
}

.projs .card > div, .medical_page .full > div{
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.home_page .projs .card img {
  width: 100%;
}

.projects_page .projs .card img {
  max-height: 140px;
  max-width: 247px;
  position: relative;
  z-index: 2;
  filter: brightness(0) invert(1);
}

.full {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px 0;
}

.full .lrg {
  font-size: 75px;
  font-weight: bold;
  color: #2eb4d1;
  margin: 0;
}

.full .sml {
  font-size: 37px;
  font-weight: 400;
  color: #2eb4d1;
  margin: 0;
}

.intro img {
  width: 233px;
}

.intro p.lrg {
  font-weight: bold;
  font-size: 65px;
  color: #29abca;
  margin-top: 10px;
  margin-bottom: 30px;
}

.intro .sml {
    font-size: 30px;
    margin-top: 0;
    font-size: 30px;
    margin-bottom: 0;
}


/*===========================  PROJECT PAGE  =============================*/
.projects_page {
  overflow: hidden;
  height: 100%;
  min-height: 100vh;
  justify-content: flex-start;
}

.project_page {
  height: 1750px;
  min-height: auto;
  overflow: hidden;
  position: absolute;
}

.projects_page .intro p.lrg {
  margin: 0;
}

.projects_page .card {
  min-height: 400px;
  flex-wrap: wrap;
}

.projects_page .card > div {
  height: 400px;
  position: relative;
  width: 100%;
}

.projects_page .projs .card p {
  background: #232323;
  color: white;
  font-size: 26px;
  padding: 20px 40px;
  margin: 0;
  width: 100%;
  letter-spacing: 5px;
}

.projects_page .show_proj {
  display: none;
  position: fixed;
  top: 183px;
  width: 100%;
  height: 100%;
  background: black;
}

.projects_page .show_proj h5 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background: #8f731f;
  font-size: 50px;
  border-radius: 100%;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -36px;
}

.projects_page .show_proj h5 p {
  color: white;
  padding: 0;
  margin: 0;
  background-color: transparent;
  letter-spacing: 0px;
}

.projects_page .show_proj h5.btm {
  top: auto;
  bottom: 375px;
}

.projects_page .show_proj > div {
  height: 1200px;
  width: 1080px;
  background-size: cover;
  background-position: center center;
}

.projects_page .show_proj p {
  color: white;
  background: #232323;
  margin: 0;
  font-size: 35px;
  letter-spacing: 5px;
  padding: 40px;
}

.kiosk_holder img {
  width: 100%;
  position: relative;
  z-index: 2;
  pointer-events: none;
}

.kiosk_holder {
  position: relative;
  text-align: center;
}

.kiosk_holder iframe {
  position: absolute;
  left: -51px;
  top: -320px;
  width: 1080px;
  height: 1920px;
  transform: scale(.565);
  z-index: 1;
  background-color: white;
}

.kiosk_holder .table_kiosk {
  width: 100%;
  transform: scale(1.2);
}

.kiosk_holder .table_kiosk, .kiosk_holder.table .stand{
  display: none;
}

.kiosk_holder.table .table_kiosk, .kiosk_holder .stand{
  display: block;
}

.kiosk_holder.table iframe {
  width: 1920px;
  height: 1080px;
  left: -465px;
  top: -250px;
  transform: scale(.47);
}



/*===========================  HOMEPAGE  =============================*/
.medical_page {
  height: 1750px;
  min-height: auto;
  overflow: hidden;
}

.medical_page .card {
  min-height: 222px;
}

.medical_page .full p {
  color: white !important;
}



/*===========================  WHEEL OF FORTUNE  =============================*/
.home_wheel {
  height: 1920px;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.home_wheel .main {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_wheel .intro {
  font-size: 119px;
  color: white;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0;
  padding: 0;
  margin-top: 280px;
  -webkit-animation: enlarge infinite 5s;
}

@-webkit-keyframes enlarge{
  0%, 20% { transform: scale(1); opacity: 1;}
  10% { transform: scale(.1); opacity: 0;}
}

.pre_spin {
  margin-top: -850px;
}

.home_wheel .intro p {
  margin: 2px;
  color: black;
}

.home_wheel .intro p span {
  color: #8f7420;
}

.home_wheel .intro p:first-child {
  font-size: 65px;
}

.email_wheel {
  padding: 30px;
  font-size: 37px;
  background: #eaeaea;
  border: none;
  color: black;
  border-bottom: 3px solid white;
  margin-top: 75px;
  padding-bottom: 17px;
  outline: none;
  display: block;
  width: 400px;
}

.email_wheel::placeholder {
  color: rgba(0, 0, 0, 0.58);
}

.home_wheel .button {
  color: white;
  background: #8f7420;
  padding: 30px 74px;
  font-size: 35px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  margin-top: 21px;
  width: 460px;
  outline: none;
}

.error {
  font-size: 33px;
  color: #d03949;
  font-weight: bold;
  display: none;
  position: absolute;
}

.wheel {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  width: 100%;
  transition: margin 1s, width 1s;
}

.home_wheel .main.resting .wheel {
  margin-top: 920px;
  width: 140%;
}

.home_wheel .main.resting .wheel .spin {
  transition: transform 1s;
  -webkit-animation: slowSpin infinite 10s;
}

@-webkit-keyframes slowSpin{
  0%, 100% { transform: rotate(-120deg); }
  50% { transform: rotate(120deg); }
}

.home_wheel .main .wheel .spin.ready {
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
  transition: transform 7s;
  -webkit-animation: none;
}

.wheel .back {
  width: 100%;
}

.wheel .pointer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  top: -30px;
}

.wheel img {
    width: 90%;
}

.wheel .ticker {
    position: absolute;
    width: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.home_wheel {
  overflow: hidden;
}

.prize {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  display: none;
}

.prize > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.prize p {
  font-size: 45px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.prize img {
  margin-bottom: 71px;
}

.prize span {
  display: block;
  font-size: 100px;
  margin-top: -17px;
}




/*===========================  SCREEN SIZES  =============================*/
@media only screen and ( min-width: 1400px) {
  .page_title {
    display: none;
  }

  .card.selfie {
    display: none;
  }

  .main {
    padding-top: 160px;
    align-items: flex-start;
  }

  .full {
    width: 48.5%;
  }

  header {
    padding: 30px 0;
  }

  header img {
    width: 150px;
  }

  .full .lrg {
    font-size: 63px;
  }

  .projs {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
  }

  .projs .projects {
    width: 60% !important;
  }

  .projs .wof {
    width: 35% !important;
    height: 500px !important;
  }

  .card {
    min-height: 175px;
  }

  .home_page .projs .card {
    height: 500px;
  }

  .card.selfie {
    position: relative;
    top: -329px;
  }

  .card.selfie .lrg, .card.wof .lrg {
    font-size: 55px !important;
  }

  .project_card {
    position: absolute;
    right: 38px;
    top: 745px;
    width: 892.391px;
  }

  .home_page .projs .card img {
    width:69%;
  }

  .card.wof img {
    /*margin-bottom: -611px;*/
  }

  .card.icon img {
    bottom: -200px;
  }

  .card.selfie .lrg, .card.wof .lrg, .home_page .projs .card .lrg, .card .lrg {
    font-size: 42px !important;
  }

  .projects_page .page_title {
    display: none;
  }

  .projects_page .projs {
    flex-wrap: wrap;
  }

  .projects_page .projs .proj {
    pointer-events: none;
  }

  .home {
    top: 41px;
    width: 40px
  }

  .page_title .lrg {
    font-size: 62px;
  }

  .page_title {
    display: block;
    position: absolute;
    left: -17px;
    top: 151px;
    font-size: 126px !important;
    z-index: 2;
    width: auto;
    text-align: left;
  }

  .medical_page {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 873px;
  }

  .medical_page .card {
    min-height: 279px;
    width: 49%;
  }

  .home_wheel .intro {
    font-size: 159px;
  }

  .pre_spin {
    margin-right: auto;
    margin-top: -303px;
    padding-left: 200px;
  }

  .home_wheel .main.resting .wheel {
    right: -29%;
    top: 22%;
    width: 70%;
    margin-top: 0;
  }

  div.jQKeyboardContainer {
    max-width: 910px;
    top: 260px !important;
  }

  .home_wheel .main .wheel .spin.ready {
    width: 41%;
    margin-top: -7px;
  }

  .wheel .ticker {
    width: 40px;
    top: initial;
  }

  .prize img {
    max-height: 300px;
  }

  .projects_page .projs .card {
    width: 32.5%;
  }

  .project_page {
    height: 875px;
    width: 1840px;
    align-items: center;
  }

  .kiosk_holder .stand {
    width: 62%;
    margin: auto;
  }

  .kiosk_holder iframe {
    left: -2px;
    top: -530px;
    transform: scale(.38);
  }

  .kiosk_holder .table_kiosk {
    width: 71%;
    transform: scale(1);
    margin: auto;
  }

  .kiosk_holder.table iframe {
    width: 1920px;
    height: 1080px;
    left: -45px;
    top: -146px;
    transform: scale(.51);
  }

  .step_one #cam {
    max-width: 1000px;
    height: 750px;
    position: absolute;
    left: 40px;
  }

  #take_pic {
    width: 798px;
    top: 660px;
  }

  .photobooth_page .page_title {
    display: block;
    width: 700px;
    position: absolute;
    right: 0;
    top: 293px;
  }

  .canvas_holder img {
    position: absolute;
    left: 0;
    top: -56px;
  }

  #pictures .projs {
    position: absolute;
    right: 40px;
    top: 452px;
    flex-direction: column;
    width: 798px;
  }

  .share, .retake {
    width: 100% !important;
  }

  .step_three .card {
    width: 1000px !important;
    max-height: 603px;
    overflow: hidden;
    overflow-y: auto;
  }

  #share_btn {
    position: absolute;
    right: 40px;
    top: 718px;
    width: 554px !important;
  }

  .home_page.main, .home_wheel .main, .photobooth_page {
    height: 911px !important;
  }

  .home_page .projs .card {
    height: 870px;
  }

  .home_wheel {
    height: 1080px;
  }

  #video {
    height: 750px;
  }

  #share_alert {
    height: 1080px !important;
  }

}




